{% extends "base.html" %}

{% block title %}Edit Schedule{% endblock %}

{% block content %}
<section style="max-width:420px;margin:auto;">
  <h2 class="section-title">Edit Payroll/Payout Schedule</h2>
  <p class="section-desc">
    This is to Edit Schedule for Payout/Payroll.
  </p>

  <form method="POST">
    <div class="grid" style="grid-template-columns:1fr;">
      <div class="card">
        <label>Account Name</label>
        <input type="text" name="acct_name" value="{{ schedule.acct_name }}" class="input">

        <label>Bank Name</label>
        <input type="text" name="bank_name" value="{{ schedule.bank_name }}" class="input">

        <label>Account number</label>
        <input type="text" name="acct_num" value="{{ schedule.acct_num }}" class="input">

        <label>Amount</label>
        <input type="text" name="amount" value="{{ schedule.amount }}" class="input">

        <label for="date">Select date:</label>
        <input type="date" id="date" name="date" value="{{ date }}" class="input">

        <button type="submit" class="btn">Submit</button>
      </div>
    </div>
  </form>
</section>

<style>
  .input {
    width: 100%;
    margin-top: 6px;
    padding: 12px 14px;
    border-radius: 10px;
    border: 1px solid var(--border);
    background: #020617;
    color: var(--text);
    margin-bottom: 16px;
  }

  .btn {
    width: 100%;
    padding: 14px;
    border-radius: 12px;
    border: none;
    background: var(--accent);
    color: white;
    font-weight: 600;
    cursor: pointer;
  }
</style>
{% endblock %}
